
.li {
    border: 2px solid #B7B7B7; 
    background-color: #B7B7B7;
    padding: 14px; 
    border-radius: 8px; 
    transition: all 0.3s ease-in-out;
}


.li:hover {
    border-color: #664343; 
    background-color: #f4f4f4; 
    transform: translateY(-5px); 
}


.li a {
    font-weight: bold;
    color: #664343; 
    text-decoration: none; 
}

.li a:hover {
    color: #664343; 
}


@media (max-width: 768px) {
    .li {
        padding: 8px; 
    }
}
